div {
    background-color: yellow;
}

.rouge,.vert,.bleu,.jaune,.violet,.noir,.marron {
    width: 300px;
    height: 100px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.rouge {
    background-color: red;
}

.vert {
    background-color: green;
}

.bleu {
    background-color: blue;
}

.jaune {
    background-color: yellow;
}

.violet {
    background-color: violet;
}

.noir {
    background-color: black;
}

.marron {
    background-color: maroon;
}

#parent {
    width: 300px;
    height: 300px;
    background-color: red;
}
#enfant {
    width: 100px;
    height: 100px;
    background-color: blue;
}

